<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MyTest">
        <classes>
            <class name="FirstTest"/>
            <class name="SecondTest"/>
            <class name="ThirdTest"/>
            <class name="ForthTest"/>
            <class name="FifthTest"/>
            <class name="SixthTest"/>
        </classes>
    </test>
</suite>

